/* Lucidia handwriting */
/* (CUFON Fonts) - https://www.cufonfonts.com/font/lucida-handwriting-std */
@font-face {
  font-family: "LucidiaHandwriting";
  src: url("../fonts/LucidaHandwritingStdLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LucidiaHandwriting";
  src: url("../fonts/LucidaHandwritingStdBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "LucidiaHandwriting";
  src: url("../fonts/LucidaHandwritingStdBold.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "LucidiaHandwriting";
  src: url("../fonts/LucidaHandwritingStdBold.woff") format("woff");
  font-weight: bold;
  font-style: bolder;
}


html {
    background-image: url('../img/Background-Wood-med.jpg');
    background-size: 1700px;
    background-repeat: repeat-y;
    background-color: #80443A;
}
body {
    margin-bottom: 5rem;
    max-width: 1684px;
}


.container {
    padding: 2em;
    background-image: url('../img/paper-light-portrait.jpg');
    background-size: 1300px;
    background-repeat: repeat;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.front.container {
    box-shadow: none;
    transform: none;
}

.front.container {
    background-image:  none;
}


/* Site nav */
nav.front-nav,
nav.site-nav,
footer.site-footer,
nav.content-nav {
    text-align: center;
}

nav.content-nav {
    font-size: 1.1rem;
    margin-top: 2rem;
}
nav.site-nav {
    font-size: 1.1rem;
    margin-top: 0.8rem;
}

.front nav.front-nav,
.front nav.site-nav,
.front footer.site-footer {
    color: #FFF;
}

.front p a {
    border-bottom: 0;
}

footer, .site-nav {
    color: #303030;
}

article a.readmore,
p a {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    border-bottom: 0;
}
article a.readmore {
    float: right;
}
blockquote {
    margin: 0 0 2rem;
    color: #6f4107;
}
figure,
figure img,
figure figcaption {
    display: flex;
    justify-content: center;
     margin-top: auto;
}

/* Font changing body class */
body.calligraphic {
  font-family: "LucidiaHandwriting", serif;
}
body.calligraphic .container {
    transform: rotate(-0.5deg);
}
@media only screen and (pointer:coarse) and (orientation : portrait) {
/* mobile devices don't rotate the page when in portrait */
    body.calligraphic .container {
        transform: none;
    }
}

body.calligraphic h1 {
  font-family: "LucidiaHandwriting", serif;
  font-style: normal;
  font-weight: bold;
}
body.calligraphic article a.readmore,
body.calligraphic p a {
    font-weight: normal;
}
body.calligraphic blockquote p em {
    font-style: normal;
}

/* Inverse font on change font link */
body #change-font {
    font-family: "LucidiaHandwriting", serif;
}
body.calligraphic #change-font {
    font-family: Arvo, serif;
}


/* TEI styles */
glyph {
    font-weight: bolder;
    font-size: 3em;
    float: left;
    line-height: 1em;
    padding-top: 0;
    padding-right: 0.1em;
}
glyph.small {
    font-size: 2em;
}


/* Font change styles */
body.calligraphic glyph {
    font-weight: normal;
    line-height: 0.8em;
    padding-top: 0;
    padding-right: 0.1em;
    padding-bottom: 0em;
}