<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>
  <main class="container">
    <header>
      <h1>{{ .Title }}</h1>
    </header>

    <article>
      {{ .Content }}
    </article>

    <nav>
      <p class="go-center">
        {{ with .PrevInSection }}
          <a class="next" href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
          &larr;
        {{ end }}

        {{ with .NextInSection }}
          &rarr;
          <a class="next" href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
        {{ end }}
      </p>
    </nav>

    {{ partial "nav.html" . }}
    {{ partial "footer.html" . }}
  </main>
</body>

</html>
