
@font-face {
    font-family: "Special Elite";
    src: url('../fonts/SpecialElite-webfont.eot');
    src: url('../fonts/SpecialElite-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SpecialElite-webfont.woff') format('woff'),
         url('../fonts/SpecialElite-webfont.ttf') format('truetype'),
         url('../fonts/SpecialElite-webfont.svg#special_eliteregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Cantique, by Sébastien Hayez, Modified & contributed by Ariel Martín Pérez */
/* (Velvetyne font Foundry) - https://velvetyne.fr/fonts/cantique/ */
@font-face {
    font-family: "Cantique";
    src: url('../fonts/Cantique-Normal.woff2') format('woff2'),
         url('../fonts/Cantique-Normal.woff') format('woff'),
         url('../fonts/Cantique-Normal.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;

}


html {
    background-image: url('../img/Background-Wood-med.jpg');
    background-size: 1700px;
    background-repeat: repeat-y;
    background-color: #80443A;
}
body {
    margin-bottom: 5rem;
}


.container {
    padding: 2em;
    background-image: url('../img/paper-light-portrait.jpg');
    background-size: 1300px;
    background-repeat: repeat;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.front.container {
    box-shadow: none;
}

.front.container {
    background-image:  none;
}


/* Site nav */
nav.front-nav,
nav.site-nav,
footer.site-footer,
nav.content-nav {
    text-align: center;
}

nav.site-nav,
nav.content-nav {
    font-size: 1.1rem;
    margin-top: 2rem;
}


.front nav.front-nav,
.front nav.site-nav,
.front footer.site-footer {
    color: #FFF;
}

footer, .site-nav {
    color: #303030;
}

article a.readmore,
p a {
    text-transform: uppercase;
    font-weight: bold;
}
article a.readmore {
    float: right;
}

/* Font changing body class */
body.calligraphic h1 {
  /*font-family: "Cantique", serif;*/
}




/* TEI styles */
glyph {
    /*font-family: "Cantique", serif;*/
    font-weight: 600;
    font-size: 3em;
    float: left;
    line-height: 1em;
    padding-top: 0;
    padding-right: 0.1em;
}
glyph.small {
    font-size: 2em;
}

