<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>
  <div class="container">
    
    <header>
      <h1>{{ .Title }}</h1>
    </header>
    
    {{ .Content }}
    
    <article>
      <section>
        <ol>
          {{ range sort (where site.RegularPages "Type" "in" "post") "File.Path" }}
          <li>{{ .Render "list-item" }}</li>
          {{ end }}
        </ol>
      </section>
    </article>

    {{ partial "nav.html" . }}
    {{ partial "footer.html" . }}

  </div>
</body>
</html>
